.weapon-img {
  height: 100px;
  object-fit: contain;
}
.cart-icon {
  position: absolute;
  top: 15px;
  right: 80px;
  cursor: pointer;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 5px;
}

.cart-icon span {
  font-size: 1.3rem;
  font-weight: bold;
}
