.valorant-color {
  background-color: rgb(110, 43, 50);
}
.custom-item {
  height: 600px;
}
.custom-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}
footer {
  position: fixed;
  bottom: 0;
  padding-top: 10px;
  background: #212529;
  width: 100%;
}
